.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-image {
  width: inherit;
}

.previous {
  position: absolute;
  bottom: 50%;
  left: 1rem;
  z-index: 1;
  background-color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.next {
  position: absolute;
  bottom: 50%;
  right: 1rem;
  z-index: 1;
  background-color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: 1s ease;
}

.image.active {
  opacity: 1;
  transition-duration: 1s;
}

img {
  width: 100%;
}
