@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@import url("../public/css/variable.css");
@import url("../public/css/navigation.css");
@import url("../public/css/main_product.css");
@import url("../public/css/carousel.css");
@import url("../public/css/product_desc.css");

* {
  font-family: "Kumbh Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .container {
  width: 20.3125rem;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 69.375rem;
    margin: 0 auto;
  }
} */
